*/node_modules
**/node_modules
**/config/dev.js
**/config/prod.js
*/ssl
/ssl
terraform.*
.terraform/
**/.DS_Store

**/xcuserdata/
**/*.xcscmblueprint
**/*.xccheckout
**/build/
**/DerivedData/

## Obj-C/Swift specific
**/.hmap

## App packaging
**/*.ipa
**/*.dSYM.zip
**/*.dSYM
**/.build/
**/Pods/