<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076941050801-h9faqrgdeei9uccpppsc4k3padfdvqv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076941050801-h9faqrgdeei9uccpppsc4k3padfdvqv8</string>
	<key>API_KEY</key>
	<string>AIzaSyBs3qfaFWGaWGJMBcGQ_mEiy4YxJAxFV4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1076941050801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memorybank.memorybank</string>
	<key>PROJECT_ID</key>
	<string>memorybank-1bbd0</string>
	<key>STORAGE_BUCKET</key>
	<string>memorybank-1bbd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076941050801:ios:6eb12b2c25b12029f0a390</string>
	<key>DATABASE_URL</key>
	<string>https://memorybank-1bbd0.firebaseio.com</string>
</dict>
</plist>